<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Single user Page</h1>
    <div style="background-color: cadetblue ;width: 15%;height: 15%">
        <p>First Name : {{user.firstName}}</p>
        <p>Last Name : {{user.lastName}}</p>
        <p> Age : {{user.age}}</p>
        <p>Email : {{user.email}}</p>
        <p> Password : {{user.password}}</p>
    </div>
</body>
</html>