<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#each users}}
    <div style="background-color: blueviolet;width: 15%;height: 15%">
        <p>First Name : {{this.firstName}}</p>
        <p>Last Name : {{this.lastName}}</p>
        <p>Age : {{this.age}}</p>
        <p>City : {{this.city}}</p>
        <p>Email : {{this.email}}</p>
        <p>Password : {{this.password}}</p>
    </div>
{{/each}}
</body>
</html>